.pageNavigation {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e4;
}

.btn-primary {
  color: #ffffff;
  background-color: #50b4c8;
  border: 1px solid #50b4c8;
}

.btn-primary:hover {
  color: #b1b1b1;
  background-color: #f5f5f5;
  border: 1px solid #50b4c8;
}
